<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%  block title %} Bucket-List {% endblock %}</title>
    <link rel="icon" type="image" href="{{ asset('images/favicon.png')}}">
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    {% endblock %}

    {% block javascript %}

    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="icon_title">
            <img alt="icône" height="40px" src={{ asset('images/logo-512.png') }}  >
            <h1>Bucket-List</h1>
        </div>
        {%  include 'Components/_navbar.html.twig' %}
    </header>
<main>
    {% include 'components/_messages_flash.html.twig' %}
    {%  block body %} Demo {% endblock %}
</main>
    {%  include 'components/_footer.html.twig' %}
</body>
</html>
