<nav>
        <ul class="navbar-items">
            <li class="nav-item">
                <a class="nav-link" href={{ path('main') }}>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('wishes_list') }}>All wishes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('wishes_create') }}>Add yours!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('aboutUs') }}>About us</a>
            </li>

        </ul>
</nav>